*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

!src/**/*.js
!src/**/*.py
!client-app/**
cdk-outputs.json
asterisk-outputs.json

site-packages

*.drawio
.DS_Store

!utils/*.js

phoneNumbers.csv

cdk-key.pem
